# Required Vars
#export customer_name="duplo-msp"
#export tenant_name="XXXXXXXXXXXXXXX"
#export duplo_host="https://xyz.duplocloud.net"
#export duplo_token="XXXXXXXXXXXXXXX"
#export aws_account_id="XXXXXXXXXXXXXXX"
#export AWS_RUNNER="duplo-admin"


export customer_name="test13"
export tenant_name="test13"
export duplo_host="https://test13.duplocloud.net"
export duplo_token="AQAAANCMnd8BFdERjHoAwE_Cl-sBAAAAHNu03FbW8ECeg8J3zasyVAAAAAACAAAAAAAQZgAAAAEAACAAAADMl7mSFpaWCPYNLVgLmQGU0XI1AaDYmjG7g9FHs2R6aQAAAAAOgAAAAAIAACAAAAAaLnb3DtNqEk62-ynlQurMZCzF1hzZCobqK2nzUJ3hw6AAAAB19b7qJpxZFP9GC4Pw2kmzRO7djSkZ2zEJNwBcyVDwwWStPQ9enJWAuh_ZN6dVRmE9xanYrmPerDFeIiLgpQcciULNqF54xdCB56MBdvVd9f5wQtrzo7zsqz_VBnsq0kKd119UOL2iXgF-6VbYBjTt9TOwevs2g9ys2vtnwDy2Gap75wBPzFj_LERs63hGnfEOxUJfMR4PANAHxjZ7pk--QAAAACxnwfVDoi2wMvhf06b8i_Gl4HpXwpHZvAx5Y55KfwrC_yyv6tcuzz_HcsbgtTSfVWnT9LPkEg-ciq-7bxjUm7s"
export aws_account_id="182680712604"
export AWS_RUNNER="duplo-admin"