# Required Vars
#export customer_name="duplo-msp"
#export tenant_name="XXXXXXXXXXXXXXX"
#export duplo_host="https://xyz.duplocloud.net"
#export duplo_token="XXXXXXXXXXXXXXX"
#export aws_account_id="XXXXXXXXXXXXXXX"
#export AWS_RUNNER="duplo-admin"

export customer_name="test-13"
export tenant_name="temp"
export duplo_host="https://test13.duplocloud.net"
export duplo_token="AQAAANCMnd8BFdERjHoAwE_Cl-sBAAAA3juTjPRGUEejkEXzDPM7UAAAAAACAAAAAAAQZgAAAAEAACAAAAClY1f5gHJxXC_wSTn_AMkY13l7g5ZrWa36ABxSi6vpBgAAAAAOgAAAAAIAACAAAABw05n8V2lGZonvzHhzgC1pB6Jx8QCR_oxkw3tQOfnw4MAAAAAdEobxryDND5nt7Hmhvbo3eVAejbEsYFjDhTqSDbrpVH9IthOZqnH1vUNprZdAAbsgwa_qUFhtHOW4I5M6jrswQR_U4qvdO5cweQwpj_MvTTMY_8WtiMgoS0S5oYgR7sKtulrjOmhvUNFB9MjVTIcA7pwFR3Imz2_O2J4ny9K7xJvwjNhpnP1DxC6yjFo4XJ8BAO6PsMMwsmoei3m4N6ZJ-Qd207nbSH_l9yEecKs3CMJIvUm2TEvQKhy-BFuE_yBAAAAAjm0hNLj9jancFljJfMWVFKtmpeKB22vJmh73gP84wEDdYscUtsW_V6fqFb_dU2KTYruuS08ssqNTmSaTOu4k5A"
export aws_account_id="182680712604"
export AWS_RUNNER="duplo-admin"
#export AWS_RUNNER="duplo-admin"
