# Required Vars
#export customer_name="duplo-msp"
#export tenant_name="XXXXXXXXXXXXXXX"
#export duplo_host="https://xyz.duplocloud.net"
#export duplo_token="XXXXXXXXXXXXXXX"
#export aws_account_id="XXXXXXXXXXXXXXX"
#export AWS_RUNNER="duplo-admin"


export customer_name="test-13"
export tenant_name="nikhiltest"
export duplo_host="https://test13.duplocloud.net"
export duplo_token="AQAAANCMnd8BFdERjHoAwE_Cl-sBAAAA3juTjPRGUEejkEXzDPM7UAAAAAACAAAAAAAQZgAAAAEAACAAAAD7LioHEI2AKtoGFGn-3EwxwjmRqdU3hnEabsISSwWZNwAAAAAOgAAAAAIAACAAAABa-4PVot8E-_hASDmdO_4596AK2Lkxfvg9IeVJu6tcjaAAAADc1qxSMdkiMhiZmS74yaaj4UNnhkRFfYXJEs7g5gu-a1bYderjZyJJbFCLYDwW-21v7FikBuHqJ19XBuE4u0zrud6bCBUqOpDzmFCJB9cvXj78g-nQflgoCNdGEmedzR_tvD2hkwsKP7ejmwoPUJXCMpcHc83ux5BsnYFCPT2A7gYdsfFx70tufbSCtzsJC8IGvFNr6FwSgykAvm-0fOfVQAAAAPWmXyD7XmG9XH53KWY0e2RHb2tOZpb0W0V_D9vlpzh7GfE1g9dlEnawaPPQltr7CwGI8Fl3S5CG0GnH-MUEcAA"
export aws_account_id="182680712604"
export AWS_RUNNER="duplo-admin"
#export tenant_id="e425505f-b6a8-4b65-ab9f-f55a9830bb13"